:root {
    --background: #333333;
    --phrases: #636363;
    --outline: #BBBBBB;
    --text: #e6e6e6;
}

body {
    background-color: var(--background);
    font-family: monospace;
    color: var(--text);
}

#toggleButton {
    border-radius: 4%;
    padding: 1%;
    background-color: var(--text);
}

.phrasebox {
    border-color: var(--outline);
    background-color: var(--phrases);
    outline: none;
}


#translations {
    display:table;
    border-spacing: 5px;
    width: 100%;
}

#phrase {
    display:table-row;
}
#phrase > * {
    display:table-cell;
    padding:10px;
    border-radius: 5px;
}

#sourceText {
    text-align: right;
    width: 25px;
    max-width: 25px;
}
#resultText {
    max-width:75px;
    width:75px;
}





